FIREBASE_WEB_API_KEY=your_firebase_web_api_key
FIREBASE_AUTH_EMAIL=your_firebase_auth_email
FIREBASE_AUTH_PASSWORD=your_firebase_auth_password
FIREBASE_USER_UID=CquQEV5STZbTEd7OglH1SyUdYGB2
FIREBASE_HOST=alarm-scheduler-webpage-default-rtdb.asia-southeast1.firebasedatabase.app
