#pragma once

/* Copy this file to firebase_secrets.h and fill in your Firebase credentials.
   Do not commit firebase_secrets.h to git. */

#define FIREBASE_WEB_API_KEY "your_firebase_web_api_key"
#define FIREBASE_AUTH_EMAIL "your_firebase_auth_email"
#define FIREBASE_AUTH_PASSWORD "your_firebase_auth_password"
#define FIREBASE_USER_UID "CquQEV5STZbTEd7OglH1SyUdYGB2"
#define FIREBASE_HOST "alarm-scheduler-webpage-default-rtdb.asia-southeast1.firebasedatabase.app"
